@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #111;
}

header {
    padding: 20px;
    z-index: 1000;
}

header .logo {
    font-size: 2.5em;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.showcase {
    position: relative;
    padding: 20px;
    min-height: 100vh;
    background: #111;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.text {
    position: relative;
    z-index: 10;
    color: white;
}

.text h2 {
    font-size: 3em;
    font-weight: 900;
}

.text p {
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #fff;
    font-weight: 500;
}

.text a {
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
}

.text a:hover {
    letter-spacing: 6px;
}

.social {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    display: flex;
}

.social li {
    list-style: none;
}

.social li a img {
    width: 48px;
    height: 48px;
    transition: 0.5s;
}

.social li a:hover img {
    transform: translateY(-15px);
}

.menu {
    padding: 20px;
}

.menu ul {
    padding: 0;
}

.menu ul li {
    list-style: none;
    margin-bottom: 15px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 1.2em;
    color: #111;
    transition: color 0.3s ease;
}

.menu ul li a:hover {
    color: #03a9f4;
}

#muteButton {
    border: none;
    color: white;
    background-color: transparent;
    position: fixed;
    top: 20px;
    right: 20px;
}

@media (max-width: 991px) {
    header {
        padding: 10px;
    }
    .showcase {
        padding: 10px;
    }
    .text h2 {
        font-size: 2em;
    }
    .text p {
        font-size: 1em;
    }
    .menu ul li a {
        font-size: 1em;
    }
    #muteButton {
        top: 10px;
        right: 10px;
    }
}
